@import "vars";
@import "fonts";
@import "mixins";
@import "libs";


html, body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	line-height: normal;
	font-family: $default-font;
	color: #000000;
	&.aside-menu-open {
		overflow-y: hidden;
	}
	@include md() {
		background-color: #f8f7f5;
	}
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

i {
	line-height: 1;
}

h1,h2,h3,h4,h5,h6,p,body,ul,li {
	padding: 0;
	margin: 0;
}


ul {
	list-style-type: none;
}

input, button, textarea, a {
	&:focus{
		outline: none;
	}
}

.slick-slide {
	outline: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

textarea {
	resize: none;
}

.page-index {
	.page-inner {
		height: 100vh;
	}
	.aside-menu-inner {
		justify-content: space-between;
	}
	.aside-menu-inner__body {
		margin-bottom: 0;
	}
}

.page-inner{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-bottom: 0;
	@include md() {
		padding: 0;
		min-height: 100vh;
	}
}


.page-content{
	display: flex;
	flex-grow: 1;
	@include md() {
		flex-shrink: 0;
	}
}

.footer{
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #bcbcbc;
	font-family: $default-font--bold;
	padding-top: 10px;
	padding-bottom: 15px;
	@include md() {
		background-color: #fff;
		justify-content: center;
	}
}

.burger {
	$toggler-part-height: 4px;
	$toggler-part-bg-color: #d5cee6;
	display: none;
	position: relative;
	z-index: 10;
	padding: 0;
	background: transparent;
	border: none;
	user-select: none;
	cursor: pointer;
	outline: none;
	align-self: center;
	@media (max-width: 992px) {
		display: block;
	}
	&:focus {
		outline: 0;
	}
	span {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: $toggler-part-height;
		font-size: 0;
		color: transparent;
		background: $toggler-part-bg-color;
		transition: background .3s;
		border-radius: 2px;
		width: 25px;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: $toggler-part-height;
			background: $toggler-part-bg-color;
			transform-origin: 50% 50%;
			transition: top .3s, transform .3s;
		}
		&:before {
			top: -10px;
			width: 28px;
		}
		&:after {
			width: 21px;
			top: 10px;
		}
	}
	&--close {
		span {
			transition: background .3s 0s;
			background: transparent;
			&:before,
			&:after {
				transition: top .3s, transform .3s;
				top: 0;
			}
			&:before {
				transform: rotate3d(0, 0, 1, 45deg);
			}
			&:after {
				transform: rotate3d(0, 0, 1, -45deg);
			}
		}
	}
}

.aside-menu {
	position: relative;
	background-image: linear-gradient(353deg, #460c2b, #6b0233 67%, #84033e);
	width: 260px;
	text-align: center;
	padding-top: 25px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	.btn{
		background-color: transparent;
		color: #470b2b;
		margin-bottom: 22px;
		&:hover{
			color: #470b2b;
		}
	}
}

.aside-menu--modal {

	@include md() {
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #fff;
		z-index: 9999;
		background-image: none;
		margin-left: auto;
		margin-right: auto;
		padding-top: 40px;
		width: auto;
		&.is-shown{
			display: flex;
		}

	}

	@media screen and (orientation:landscape) {
		@include md() {
			overflow-y: scroll;
		}
	}

	.aside-menu__list{
		@include md() {
			margin-left: auto;
			margin-right: auto;
		}
		li{
			@include md() {
				font-size: 18px;
				color: rgba(#830c43, .8);
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 25px;
				}
			}
		}
	}
	.aside-menu-inner {
		@include md() {
			max-width: none;
		}
	}
	.separator{
		@include md() {
			max-width: 153px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}
	.aside-menu__list--addtional-info {
		li{
			@include md() {
				font-family: $default-font;
				margin-bottom: 5px;
			}
		}
	}
	.aside-menu-inner__footer {
		@include md() {
			display: none;
		}
	}
}


.aside-menu__list {
	li{
		text-transform: uppercase;
		letter-spacing: 2px;
		color: rgba(#fff, .8);
		transition: .3s;
		font-family: $secondary-font;
		font-size: 20px;
		margin-bottom: 23px;
		@include md() {
			color: rgba(#830c43, .8);
		}
		&:last-child{
			margin-bottom: 0;
		}
		&.is-active,
		&:hover{
			color: $accent;
		}
	}
}

.aside-menu-inner {
	max-width: 153px;
	margin-left: auto;
	margin-right: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: 45px;
}

.separator {
	width: 100%;
	height: 2px;
	background-color: $accent-2;
	margin-top: 30px;
	margin-bottom: 30px;
	@include md() {
		height: 1px;
	}
}

.aside-menu__list--addtional-info {
	li{
		text-transform: none;
		font-family: $default-font--bold;
		font-size: 16px;
		margin-bottom: 13px;
		color: rgba(#fff, .38);
		&:last-child{
			margin-bottom: 0 !important;
		}
		@include md() {
			color: #830c43;
		}
	}
}


.aside-menu__logo {
	margin-bottom: 35px;
	@include md() {
		display: none;
	}
}

.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include md() {
		justify-content: center;
	}
	li{
		@include md() {
			margin-right: 30px;
		}
		&:last-child{
			margin-right: 0;
		}
		img{
			width: 16px;
			height: 16px;
		}
		svg{
			width: 20px;
			height: 20px;
			@include md() {
				path{
					fill: #000;
				}
			}
		}
	}
}

.aside-menu__social-list {
	margin-bottom: 35px;
	@include md() {
		margin-bottom: 25px;
	}
}

.footer__address {
	margin-right: 33px;
}

.copyright {
	font-size: 14px;
}

.banner-slider {
	position: relative;
	width: 100%;
	margin-left: -1px;
	background-color: #fff;
	#js-banner-slider, .slick-list, .slick-track {
		width: 100%;
		height: 100% !important;
	}
	.slick-dots {
		position: absolute;
		z-index: 10;
		top: 50%;
		right: 40px;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		@include md() {
			flex-direction: row;
			left: 50%;
			transform: translateX(-50%);
			bottom: 40px;
			right: auto;
			top: auto;
		}
		@include sm() {
			bottom: 30px;
		}
		li{
			margin-bottom: 50px;
			transition: .3s;
			@include md() {
				margin-bottom: 0;
				margin-right: 50px;
			}
			&:last-child{
				margin-bottom: 0;
				@include md() {
					margin-right: 0;
				}
			}
			&.slick-active{
				.banner-slider__dot {
					width: 38px;
					height: 38px;
					border: 12px solid #E23B9C;
					background-color: transparent;
					@include md() {
						width: 33px;
						height: 33px;
						border-width: 9.5px;
					}
				}
			}
		}
		.banner-slider__dot {
			transition: .3s;
			width: 12px;
			height: 12px;
			display: block;
			background-color: rgba(#fff, 0.57);
			border-radius: 50%;
			@include md() {
				background-color: #CA92C0;
			}
		}
	}
}

.banner-slider__item {
	width: 100%;
	height: 100% !important;
}

.banner-slider__img{
	height: 100%;
	width: 100%;
	margin-left: -1px;
	@include md() {
		height: 450px;
		margin-left: 0;
	}
	@include sm() {
		height: 375px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.banner-slider__btns {
	position: absolute;
	right: 55px;
	top: 35px;
	z-index: 1;
	display: flex;
	align-items: center;
	@include md() {
		display: none;
	}
	.btn {
		margin-right: 7px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.banner-slider__btns {
	.btn--phone{
		color: #ffffff;
		background-color: rgba(#000, 0.34);
		&:hover{
			color: #ffffff;
		}
	}
}

.btn {
	display: flex;
	align-items: center;
	border-radius: 24px;
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 18px;
	font-family: $default-font--bold;
	img {
		margin-right: 10px;
	}
}

.btn--phone {
	padding-left: 23px;
	padding-right: 23px;
}

.btn--action{
	color: #ffffff;
	background-image: linear-gradient(to bottom, #ff47ae, #d03491);
	padding-left: 26px;
	padding-right: 26px;
	letter-spacing: 1px;
	&:hover{
		color: #ffffff;
	}
}

.social-list__facebook {
	opacity: .72;
}

.separator--last {
	display: none;
	@include md() {
		display: block;
	}
}

.app-icon {
	svg{
		@include md() {
			rect{
				stroke: #000;
			}
			text, path{
				fill: #000;
			}
		}
	}
}

.aside-menu__app-icon {
	@include md() {
		margin-bottom: 0;
	}
}

.header {
	display: none;
	@include md() {
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		padding-bottom: 15px;
		flex-shrink: 0;
	}
}

.header__btn-action {
	padding: 0;
	width: 36px;
	height: 36px;
	justify-content: center;
	img{
		margin: 0;
		width: 20px;
		height: 13px;
	}
	span {
		display: none;
	}
}


.footer__address,
.footer__email{
	@include md() {
		display: none;
	}
}

.aside__btn-phone {
	display: none;
	@include md() {
		display: block;
	}
}

.footer__copyright {
	display: block;
	text-align: center;
	padding: 10px 0;
	@include md() {
		max-width: 160px;
		font-family: "LatoLight";
		color: #6b6b6b;
		line-height: 1.6;
	}
}

.aside-menu__btn-action {
	display: none;
	color: #ffffff !important;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 0 !important;
	@include md() {
		display: flex;
	}
}


.close {
	position: absolute;
	left: 20px;
	top: 25px;
	cursor: pointer;
	display: none;
	@include md() {
		display: block;
	}
}

.aside-menu--visible {
	display: none;
	@include md() {
		display: flex;
		background-image: none;
		margin-left: auto;
		margin-right: auto;
		padding-top: 55px;
	}
	.aside-menu__list{
		@include md() {
			max-width: 210px;
			margin-left: auto;
			margin-right: auto;
		}
		li{
			@include md() {
				font-size: 20px;
				margin-bottom: 25px;
			}
		}
	}
	.aside-menu__list--addtional-info{
		li{
			@include md() {
				font-size: 16px;
				margin-bottom: 10px;
			}
		}
	}
	.aside-menu-inner {
		@include md() {
			max-width: none;
		}
	}
	.separator {
		@include md() {
			max-width: 153px;
			margin: 35px auto;
			margin-bottom: 25px;
		}
	}
	.separator--last {
		margin-top: 30px;
	}
	.aside__btn-phone {
		margin-bottom: 20px;
	}
}

.banner-slider-info {
	display: none;
	@include md() {
		display: block;
		text-align: center;
		background-color: #fff;
		padding-top: 35px;
		position: relative;
		padding-bottom: 97px;
	}

}

.banner-slider-info__text {
	font-size: 18px;
	letter-spacing: 1px;
	font-family: $default-font;
	color: #830c43;
	margin-bottom: 16px;
}

.banner-slider-info__inner {
	max-width: 221px;
	margin-left: auto;
	margin-right: auto;
}

.banner-slider-info__price {
	font-size: 36px;
	color: #e23b9c;
	display: flex;
	justify-content: center;
}

.header__logo {
	margin-left: -7px;
}

.aside-menu-inner__body {
	margin-bottom: 190px;
}

.page-info__header {
	display: flex;
	justify-content: flex-end;
	padding-right: 40px;
	padding-top: 35px;
	margin-bottom: 80px;
}

.page-info {
	width: 100%;
	background-color: pink;
}

.page-info__inner {
	padding-left: 105px;
}

.page-about {
	.page-info__container {
		max-width: 710px;
	}
	.page-info__inner {
		padding-left: 110px;
	}
}

.tabs {
	display: flex;
	border-bottom: 6px solid rgba(#5a072f, .16);
	margin-bottom: 35px;
	li{
		font-size: 20px;
		font-family: $default-font--bold;
		color: rgba(#08003d, .41);
		transition: .3s;
		margin-right: 40px;
		padding-bottom: 9px;
		position: relative;
		cursor: pointer;
		&::after{
			content: '';
			opacity: 0;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 6px;
			background-color: #d93796;
			transition: .3s;
		}
		&.is-active{
			color: #d93796;
			&::after{
				opacity: 1;
			}
		}
		&:last-child{
			margin-right: 0;
		}
	}
}

.heading {
	text-transform: uppercase;
	font-family: $secondary-font;
	color: #7e033c;
	font-weight: normal;
	line-height: 1.5;
}

.heading--h1 {
	 margin-bottom: 32px;
	 font-size: 36px;
 }

.about-article {
	p {
		font-size: 18px;
		font-family: $default-font;
		line-height: 1.67;
		letter-spacing: 0.1px;
		margin-bottom: 21px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.about-article__img {
	height: 488px;
	padding: 15px;
	background-color: #ffffff;
	width: 100%;
	margin-bottom: 50px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.heading--h2 {
	margin-bottom: 14px;
	letter-spacing: 1.2px;
}

.about-article__block{
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 100px;
	}
}

.about-article__signature {
	max-width: 360px;
}